@use "colors" as colors;


.root {
  background-color: colors.$bar;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
  box-shadow: -4px 0px 15px rgba(0, 0, 0, 0.5) inset;
  img {

    padding: 20px;
    height: 100px;
  }
}

.buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    height: 100px;
    width:100%;

  }
}
